/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.hhhh{
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem;
}
.formm{
  display: flex;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 1rem  !important;
}
.accl {
    margin: 2rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
}
.acc{
  background-color: rgba(116, 112, 112, 0.781);
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 57px;
  color: rgb(0, 0, 0);


 
}

.lined-paper {
  /* Lined background */
  background-image: linear-gradient(#d1d5db 1px, transparent 0px);
  background-size: 100% 2em;

  /*
  Display the content on top of the lines.
  The line height must be the same as the background size defined above
  */
  background-position-y: 1.5rem;
  line-height: 2em;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(241, 241, 243);
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form1 {
  margin-top: 30px;
}
.form1 .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form1 :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form1 .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form1 :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form1 .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form1 :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form1 button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form1 button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form1 .column {
    flex-wrap: wrap;
  }
  .form1 :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}





.accordion--1 {
  --color: #ff2e71;
}
.accordion {
  position: relative;
  width: 300px;
  color: #443849;
}
.accordion__tab {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 2;
  width: 96px;
  height: 24px;
  font-size: 16px;
  border-radius: 12px 13px 0 0;
  background: #fff;
}
.accordion__tab::before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: -16px;
  width: 0;
  height: 0;
  border-top: solid 20px transparent;
  border-left: solid 20px #fff;
  border-right: solid 0 transparent;
  border-bottom: solid 0 transparent;
}
.accordion__open,
.accordion__close {
  display: none;
}
.accordion__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0 12px 12px 12px;
  cursor: pointer;
}
.accordion__box {
  margin: 0;
}
.accordion__patition {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.2s ease;
}
.accordion__number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 50px;
  height: 40px;
  margin-right: 16px;
  font-size: 40px;
  font-family: "Barlow", sans-serif;
  color: var(--color);
}
.accordion__number::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 72px;
  width: 0;
  height: 40px;
  background: var(--color);
}
.accordion__number::after {
  content: "Frequently Asked Questions";
  position: absolute;
  bottom: 4px;
  left: 88px;
  width: 0;
  height: 40px;
  font-size: 13px;
  line-height: 13px;
  overflow: hidden;
}
.accordion__title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 56px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  min-height: 40px;
}
.accordion__title::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 0;
  width: 0;
  height: 1px;
  background: var(--color);
}
.accordion__text {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  max-height: 0;
  overflow: hidden;
  color: transparent;
  transition: all 0.5s ease;
}
.accordion__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 0;
  height: 100%;
  background: var(--color);
}
.accordion__button {
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  width: 0;
  height: 28px;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}
.accordion__button::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  transform: skew(30deg);
  border-radius: 0 6px 0 0;
  background: var(--color);
}
.accordion__buttonText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 40px;
  color: #fff;
}
.accordion__buttonText::before,
.accordion__buttonText::after {
  content: "";
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  margin: auto 0;
  width: 12px;
  height: 3px;
  background: #fff;
}
.accordion__buttonText::before {
  transform: rotate(45deg);
}
.accordion__buttonText::after {
  transform: rotate(-45deg);
}
.accordion__open:checked ~ .accordion__tab {
  animation: tab_height 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes tab_height {
  0% {
    height: 24px;
    color: #443849;
  }
  100% {
    height: 32px;
    color: var(--color);
  }
}
.accordion__close:checked ~ .accordion__tab {
  height: 32px;
  animation: tab_height_rev 0.3s 0.3s ease;
  animation-fill-mode: forwards;
  color: var(--color);
}
@keyframes tab_height_rev {
  0% {
    height: 32px;
    color: var(--color);
  }
  100% {
    height: 24px;
    color: #443849;
  }
}
.accordion__open:checked ~ .accordion__tab::before {
  animation: tab_triangle 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes tab_triangle {
  0% {
    right: -16px;
    border-top: solid 20px transparent;
  }
  100% {
    right: -18px;
    border-top: solid 26px transparent;
  }
}
.accordion__close:checked ~ .accordion__tab::before {
  right: -18px;
  border-top: solid 26px transparent;
  animation: tab_triangle_rev 0.3s 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes tab_triangle_rev {
  0% {
    right: -18px;
    border-top: solid 26px transparent;
  }
  100% {
    right: -16px;
    border-top: solid 20px transparent;
  }
}
.accordion__open:checked ~ .accordion__wrapper {
  cursor: default;
}
.accordion__open:checked ~ .accordion__wrapper .accordion__patition {
  margin-bottom: 24px;
  animation: title_top 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes title_top {
  0% {
    padding-top: 0;
    margin-bottom: 0;
  }
  100% {
    padding-top: 64px;
    margin-bottom: 24px;
  }
}
.accordion__close:checked ~ .accordion__wrapper .accordion__patition {
  padding-top: 64px;
  margin-bottom: 24px;
  animation: title_top_rev 0.3s 0.5s ease;
  animation-fill-mode: forwards;
}
@keyframes title_top_rev {
  0% {
    padding-top: 64px;
    margin-bottom: 24px;
  }
  100% {
    padding-top: 0;
    margin-bottom: 0;
  }
}
.accordion__open:checked ~ .accordion__wrapper .accordion__number {
  animation: rotate 1s linear;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg) scale(1);
    width: auto;
  }
  20% {
    transform: rotateY(360deg) scale(1.6);
    font-size: 56px;
    height: 56px;
  }
  60% {
    transform: rotateY(360deg) scale(1.6);
  }
  70% {
    transform: rotateY(360deg) scale(1);
    width: auto;
  }
  84% {
    transform: rotateY(360deg) scale(1);
    width: auto;
  }
  85% {
    transform: rotateY(360deg) scale(1);
    width: 100%;
  }
  100% {
    transform: rotateY(360deg) scale(1);
    width: 100%;
    font-size: 56px;
    height: 56px;
  }
}
.accordion__close:checked ~ .accordion__wrapper .accordion__number {
  font-size: 56px;
  height: 56px;
  animation: rotate_rev 0.2s 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes rotate_rev {
  0% {
    font-size: 56px;
    height: 56px;
  }
  100% {
    font-size: 40px;
    height: 40px;
  }
}
.accordion__open:checked ~ .accordion__wrapper .accordion__number::before {
  animation: num_line 0.3s 0.9s ease;
  animation-fill-mode: forwards;
}
@keyframes num_line {
  0% {
    width: 0;
  }
  100% {
    width: 5px;
  }
}
.accordion__close:checked ~ .accordion__wrapper .accordion__number::before {
  animation: num_line_rev 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes num_line_rev {
  0% {
    width: 5px;
  }
  100% {
    width: 0;
  }
}
.accordion__open:checked ~ .accordion__wrapper .accordion__number::after {
  animation: num_text 0.7s 1s ease;
  animation-fill-mode: forwards;
}
@keyframes num_text {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
.accordion__close:checked ~ .accordion__wrapper .accordion__number::after {
  animation: num_text_rev 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes num_text_rev {
  0% {
    width: 80px;
  }
  100% {
    width: 0;
  }
}
.accordion__open:checked ~ .accordion__wrapper .accordion__title {
  animation: title_space 0.5s 0.9s ease;
  animation-fill-mode: forwards;
}
@keyframes title_space {
  0% {
    padding-left: 56px;
  }
  100% {
    padding-left: 0;
  }
}
.accordion__close:checked ~ .accordion__wrapper .accordion__title {
  padding-left: 0;
  animation: title_space_rev 0.3s 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes title_space_rev {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: 56px;
  }
}
.accordion__open:checked ~ .accordion__wrapper .accordion__title::before {
  animation: title_line 0.5s 0.9s ease;
  animation-fill-mode: forwards;
}
@keyframes title_line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.accordion__close:checked ~ .accordion__wrapper .accordion__title::before {
  animation: title_line_rev 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes title_line_rev {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.accordion__open:checked ~ .accordion__wrapper .accordion__text {
  max-height: 200px;
  animation: text_color 0.8s 0.9s ease;
  animation-fill-mode: forwards;
}
@keyframes text_color {
  0% {
    color: transparent;
  }
  49.9% {
    color: transparent;
  }
  50% {
    color: #443849;
  }
  100% {
    color: #443849;
  }
}
.accordion__close:checked ~ .accordion__wrapper .accordion__text {
  animation: text_color_rev 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes text_color_rev {
  0% {
    color: #443849;
  }
  100% {
    color: transparent;
  }
}
.accordion__open:checked ~ .accordion__wrapper .accordion__text::before {
  animation: text_blind 0.8s 0.9s ease;
  animation-fill-mode: forwards;
}
@keyframes text_blind {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  45% {
    width: 100%;
    left: 0;
    right: auto;
  }
  49.9% {
    width: 100%;
    left: 0;
    right: auto;
  }
  50% {
    width: 100%;
    left: auto;
    right: 0;
  }
  55% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
.accordion__open:checked ~ .accordion__button {
  animation: close_button 0.5s 0.9s ease-out;
  animation-fill-mode: forwards;
}
@keyframes close_button {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 24px - 4px);
  }
}
.accordion__close:checked ~ .accordion__button {
  animation: close_button_rev 0.3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes close_button_rev {
  0% {
    width: calc(100% - 24px - 4px);
  }
  100% {
    width: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
 
  font-family: Arial;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;

}






::selection{
  color: #fff;
  background: #6990F2;
}
.wrapper{
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper form{
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}
form :where(i, p){
  color: #6990F2;
}
form i{
  font-size: 50px;
}
form p{
  margin-top: 15px;
  font-size: 16px;
}

section .row{
  margin-bottom: 10px;
  background: #ffffff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #6990F2;
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}

